{% extends 'base.html' %}
{% load static %}

{% block title %}
    About
{% endblock title %}


{% block contents %}
<div class="container">
    <h1>Megan Paquin</h1>
    <h2>Aspiring Software Engineer</h2>
    <br>
    <br>
    <br>
    <h5>I have a Biomedical Engineering degree from Syracuse University and I am currently studying to be a web developer. I aspire to be a Software Engineer for medical devices and medical software. I served in the Army for 8 years.</h5>
    <br>
    <p>I love to do crafts.</p>
</div>
{% endblock contents %}